/* Write your CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: #05acff;
  font-family: 'Roboto';
}
.slider-container {
  padding: 40px;
  max-width: 60vw;
}
